.intro{
  background:url('../../images/car.jpg') no-repeat center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-color:#1c120c;
  background-attachment:fixed;
  position:relative;
  overflow:hidden;
  height:100vh;
}
.welcome{
  margin-top:150px;
}
.cars{
  background:url('../../images/classic.jpg') no-repeat center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-color:#1c120c;
  background-attachment:fixed;
  position:relative;
  overflow:hidden;
}
.triangle-up{
  width:0;
  height:0;
  border-left:100px solid #82b1ff;
  border-bottom:120px solid transparent;
  border-top:240px solid transparent;
}
.agenda{
  background:url('../../images/fastCar.jpg') no-repeat center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-color:#1c120c;
  background-attachment:fixed;
  position:relative;
  overflow:hidden;
  height:50vh;
}
.bikes{
  background:url('../../images/cycle.png') no-repeat center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-color:#1c120c;
  background-attachment:fixed;
  position:relative;
  overflow:hidden;
  height:50vh;
}
.motovation{
  background:url('../../images/motocycle.jpg') no-repeat center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-color:#1c120c;
  background-attachment:fixed;
  position:relative;
  overflow:hidden;
  height:50vh;
}
.pepper{
  width:50%;
  margin-top:40px;
  margin-left:70px;
}
.cftvSign{
  width:50px;
  background-color:red;
  writing-mode:vertical-lr;
  text-orientation:mixed;
  transform:rotate(180deg);
  height:50vh;
  margin-left:20px;
}
.cftvSign > h3{
  color:white;
  text-align:center;
}
.signs > h3{
  background-color:brown;
  color:white;
  text-align:center;
  width:230px;
  height:50px;
  margin-left:40px;
}
.si{
  padding-top:20px;
}
.def{
  background-color:#757575;
  height:50vh;
  margin-top:-37px;
}
.def > ul {
  padding-top:40px;
}
.title{
  text-align:center;
  background-color:black;
  color:red;
  height:70px;
  padding-top:35px;
  margin-top:-20px;
}
.channel{
  background-color:#333;
  color:white;
  height:50vh;
}
.channelHead{
  color:darkred;
  text-align:center;
  background-color:#111;
}
.channelTitle{
  margin-left:30px;
  color:darkred;
}
.channelList{
  list-style:none;
}
.channelList li::before{
  content:'\2022';
  color:darkred;
  display:inline-block;
  width:1em;
  margin-left:-1em;
}
