.intro{
  background:url('../../images/car.jpg') no-repeat center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-color:#1c120c;
  background-attachment:fixed;
  position:relative;
  overflow:hidden;
  height:100vh;
}
.introTitle{
  margin-top:150px;
}
.pepper{
  width:50%;
  margin-left:70px;
}
.title{
  text-align:center;
}
.cftvSign{
  width:50px;
  writing-mode:vertical-lr;
  text-orientation:mixed;
  transform:rotate(180deg);
  margin-top:100px;
  margin-left:20px;
}
